{% extends 'admin/Base.html.twig'%}

{% block title %}Ajouter reclamation {% endblock %}
{% block body %}

<div class="" style='margin-left: 20% ;'>
    <div class="pagetitle">
      <h1>Nouveau reclamation</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
          <li class="breadcrumb-item">type contrat </li>
          <li class="breadcrumb-item active">Nouvaeu type contrat</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->



    
    


   <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ajouter type contrat</h5>

              <!-- Modifier reclamation -->
                 {{ form_start(form,{'attr': {'novalidate': 'novalidate'}})}}
    <div class="quform-elements">
                    <div class="row mb-3">
                        <div>{{form_label(form.typeContrat,"Typecontrat",{'attr':{'class':'col-sm-2 col-form-label'}})}} <span class="quform-required"> *</span></div>
                        <div class="col-sm-10">
                            {{ form_widget(form.typeContrat,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(form.typeContrat,{'attr':{'class':'text-danger'}})}}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div>{{form_label(form.prix,"prix",{'attr':{'class':'col-sm-2 col-form-label'}})}} <span class="quform-required"> *</span></div>
                        <div class="col-sm-10">
                            {{ form_widget(form.prix,{'attr':{'class':'form-select'}}) }}
                            {{ form_errors(form.prix,{'attr':{'class':'text-danger'}})}}
                        </div>
                    </div>




                    <div class="row mb-3">
                    <div class="col-sm-10">
                        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
                        
                    </div>
                    </div>

                {{ form_end(form) }}


            </div>
          </div>




</div>










{% endblock %}