<!DOCTYPE html>

<title>Contrat index</title>

{% block body %}
    <h1>Contrat index</h1>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomClient</th>
                <th>Prenom</th>
                <th>Tel</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Datededebut</th>
                <th>Datedefin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat in contrats %}
            <tr>
                <td>{{ contrat.id }}</td>
                <td>{{ contrat.NomClient }}</td>
                <td>{{ contrat.Prenom }}</td>
                <td>{{ contrat.Tel }}</td>
                <td>{{ contrat.adresse }}</td>
                <td>{{ contrat.Email }}</td>
                <td>{{ contrat.Datededebut }}</td>
                <td>{{ contrat.Datedefin }}</td>
                <td>
                    <a href="{{ path('app_contrat_show', {'id': contrat.id}) }}">show</a>
                    <a href="{{ path('app_contrat_edit', {'id': contrat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contrat_new') }}">Create new</a>
{% endblock %}
